<div class="corpo">
    <form [formGroup]="curriculumForm" (ngSubmit)="onSubmit(curriculumForm.value)">
        <mat-form-field class="campo">
            <mat-label>Nome</mat-label>
            <input matInput type="text" ng placeholder="Nome" formControlName="nome">
        </mat-form-field>
        <mat-form-field class="campo">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="campo">
            <mat-label>Celular</mat-label>
            <input matInput type="text" mask="(00) 0 0000-0000" placeholder="Celular" formControlName="celular">
        </mat-form-field>
        <mat-form-field class="campo">
            <mat-label>Telefone</mat-label>
            <input matInput type="text" mask="(00) 0000-0000" placeholder="Telefone" formControlName="telefone">
        </mat-form-field>
        <mat-form-field appearance="fill" class="lastComponent">
            <mat-label>Data de nascimento</mat-label>
            <input matInput [matDatepicker]="dp3" formControlName="dtNasc" [disabled]="true"
                placeholder="Data de Nascimento">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

        <fieldset formGroupName="endereco" class="endereco">
            <mat-form-field class="campo">
                <mat-label>Cep</mat-label>

                <input matInput type="text" placeholder="Cep" formControlName="cep">
            </mat-form-field>
            <mat-form-field class="campo">
                <mat-label>UF</mat-label>
                <input matInput type="text" placeholder="UF" formControlName="uf">
            </mat-form-field>
            <mat-form-field class="campo">
                <mat-label>Cidade</mat-label>
                <input matInput type="text" placeholder="Cidade" formControlName="cidade">
            </mat-form-field>
            <mat-form-field class="campo">
                <mat-label>Bairro</mat-label>
                <input matInput type="text" placeholder="Bairro" formControlName="bairro">
            </mat-form-field>
            <mat-form-field class="campo">
                <mat-label>Rua</mat-label>
                <input matInput type="text" placeholder="Rua" formControlName="rua">
            </mat-form-field>
            <mat-form-field class="campo">
                <mat-label>Número</mat-label>
                <input matInput type="text" placeholder="Número" formControlName="numero">
            </mat-form-field>
        </fieldset>

        <div formArrayName="redesSociais" class="lista">
            <div *ngFor="let redeSocial of redesSociais.controls; let i = index;" class="lista">
                <fieldset [formGroupName]="i" class="redeSocial">
                    <mat-form-field class="campo">
                        <mat-label>Rede social</mat-label>
                        <input matInput type="text" placeholder="Digite sua rede social" formControlName="nome">
                    </mat-form-field>
                    <mat-form-field class="campo">
                        <mat-label>Link</mat-label>
                        <input matInput type="text" placeholder="Digite o endereço" formControlName="link">
                    </mat-form-field>
                    <mat-icon class="delete-btn" (click)="deleteRedeSocial(i)">
                        delete_forever
                    </mat-icon>
                </fieldset>
            </div>
            <button mat-mini-fab (click)="addRedeSocial()">
                <mat-icon class="add-course-btn">add</mat-icon>
            </button>
        </div>
        
        <app-empregos [curriculumForm]="curriculumForm" [listaEmprego]="pessoa.empregos"></app-empregos>
        
        <app-cursos [curriculumForm]="curriculumForm"></app-cursos>

        <app-habilidades [curriculumForm]="curriculumForm"></app-habilidades>

        <button type="submit" [disabled]="false">Gerar curriculum</button>
    </form>
</div>