.corpo{
  width: 100%;
  display: flex;
  justify-content: center;
}

form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;

  fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

  .campo {
    width: 45%;
  }

  .redeSocial{
    width: 100%;
  }

  .lista{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
}