<h2>Referência</h2>
<div *ngFor="let referencia of listaReferencia">
    ############################################################### <br>
    <span>Nome: {{referencia.nome}}</span><br>
    <span>data de nasc.: {{referencia.dtNasc}}</span><br>
    <span>e-mail: {{referencia.email}}</span><br>
    <span>Celular: ({{referencia.ddd}}) {{referencia.celular}}</span><br>
    <span>Telefone: ({{referencia.ddd}}) {{referencia.telefone}}</span><br>
</div>
###############################################################
